aiofiles
authlib
bcrypt
fastapi[all]
google-api-python-client
google-auth
huggingface_hub==0.23.0
imageio
ipython
matplotlib
nbformat
numpy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose
python-multipart
python-multipart==0.0.9
scipy
sqlalchemy
uvicorn[standard]==0.29.0
